<footer class="footer">
  <div class="container-fluid">
    <nav class="float-left">
      <ul>
        <li>
          <a [href]="site">
            Creative Tim
          </a>
        </li>
        <li>
          <a (click)="openAboutDialog()" class="link">
            About Us
          </a>
        </li>
        <li>
          <a [href]="blog">
            Blog
          </a>
        </li>
        <li>
          <a>
            Licenses
          </a>
        </li>
      </ul>
    </nav>
    <div class="copyright float-right">
      @ {{year | date: 'yyyy'}} <i class="material-icons">favorite</i>
      <a [href]="site" target="_blank">{{siteName}}</a>
    </div>
  </div>
</footer>
