<mat-dialog-content>
  <p mat-dialog-title>{{dialogTitle}}</p>

  <mat-form-field>
    <mat-label>Name (required)</mat-label>
    <input
      (keydown.enter)="onConfirm()"
      [(ngModel)]="tmpTitle"
      matInput>

    <button (click)="tmpTitle = ''"
            *ngIf="tmpTitle.trim().length > 0"
            aria-label="Clear" class="size25 clear-icon" mat-button
            mat-icon-button matSuffix>
      <mat-icon>clear</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Select category</mat-label>
    <mat-select [(ngModel)]="tmpCategory">
      <mat-option [value]="null">Without category</mat-option>
      <mat-option *ngFor="let cat of categories" [value]="cat">
        {{cat.title}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Select priority</mat-label>
    <mat-select [(ngModel)]="tmpPriority">
      <mat-option [value]="null">Without priority</mat-option>
      <mat-option *ngFor="let pri of priorities" [value]="pri">
        {{pri.title}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <input #inputDate (click)="picker.open()" [(ngModel)]="tmpCreationDate"
           [matDatepicker]="picker"
           matInput
           placeholder="Select due date"

           readonly="true">

    <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>

    <mat-datepicker #picker></mat-datepicker>

    <button (click)="tmpCreationDate = null"
            *ngIf="inputDate.value.trim().length > 0"
            aria-label="Clear" class="size25 clear-icon" mat-button
            mat-icon-button matSuffix>
      <mat-icon>clear</mat-icon>
    </button>

  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
  <div class="col-md-5 col-12">
    <button
      (click)="onConfirm()" [disabled]="tmpTitle.trim().length == 0"
      color="primary"
      mat-raised-button>
      Save
    </button>

    <button (click)="onCancel()" mat-raised-button>Cancel</button>
  </div>
  <div class="col-md-7 col-12 text-right">
    <button (click)="complete()" *ngIf="!task.completed" class="green" mat-button>Close</button>
    <button (click)="activate()" *ngIf="task.completed" class="green" mat-button>Activate</button>
    <button (click)="delete()" class="red" mat-button>Delete task</button>
  </div>
</mat-dialog-actions>


